<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<springProfile name="log-file">
		<include resource="appenders/appender-file.xml" />
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

	<springProfile name="log-console">
		<include resource="appenders/appender-console.xml" />
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
</configuration> 